---
import Layout from "../layouts/BaseLayout.astro";
import About from "../components/About.astro";
import Faqs from "../components/Faq.astro";
import Nav from "../components/Nav.astro";
import Program from "../components/Program.astro";
import Hero from "../components/Hero.astro";
import Footer from "../components/Footer.astro";
import Streaming from "../components/Streaming.astro";
---

<Layout
  title="Flisol Cuba 2024 | Festival Latinoamericano de Instalación de Software Libre"
  description="Únete al Festival Latinoamericano de Instalación de Software Libre (FLISoL), el evento más grande de su tipo en toda Latinoamérica. Este año, en colaboración con comunidades cubanas, llevamos la celebración a un formato virtual para que nadie se quede fuera. Descubre charlas fascinantes, talleres interactivos y debates enriquecedores sobre el mundo del software libre y la libertad informática. ¡No te lo pierdas!"
>
  <Nav />
  <main class="flex flex-col gap-32">
    <Hero />
    <About />
    <Program />
    <Streaming />
    <Faqs />
  </main>
  <Footer />
</Layout>
