---
const editions = [
  {
    title: "Flisol Cuba 2024",
    date: "27 de abril del 2025",
    youtube: "https://www.youtube.com/embed/rrQophvXDEo?si=jTJwxBtkRP3uFKHt",
  },
];
---

<div class="mx-auto pt-16 w-full max-w-7xl px-6 lg:px-8" id="editions">
  <div class="yerro-animate-left w-full">
    <div class="max-w-5xl yerro-animate-left mb-6">
      <p class="mt-2 text-3xl font-bold tracking-tight text-white sm:text-4xl">Ediciones Pasadas</p>
      <p class="mt-6 text-lg leading-8 text-gray-300">
        Si te perdiste las ediciones pasadas del Flisol Cuba, puedes verlas desde nuestro canal de YouTube.
      </p>
    </div>
    <div class="mt-16 max-w-2xl sm:mt-8 lg:mt-10 md:max-w-none">
      <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-16 md:max-w-none lg:grid-cols-2 xl:grid-cols-3">
        {
          editions.map((edition) => (
            <div class="flex flex-col yerro-animate-bottom">
              <dd class="mt-1 flex  flex-col  leading-7 ">
                <p class="flex-auto text-white text-2xl font-bold ">{edition.title}</p>
                <span class="mb-3 text-white text-lg opacity-80">{edition.date}</span>
                <iframe
                  class="mt-1 flex border  flex-col rounded-lg  leading-7 aspect-video"
                  src={edition.youtube}
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                />
              </dd>
            </div>
          ))
        }
      </dl>
    </div>
  </div>
  <div class="mt-16 max-w-2xl sm:mt-20 lg:mt-24 md:max-w-none"></div>
</div>
