---
const faqs = [
  {
    title: "¿Qué es el FLISoL?",
    desc: "El FLISoL, o Festival Latinoamericano de Instalación de Software Libre, es un evento anual que promueve el uso y la difusión del software libre en toda la región latinoamericana.",
  },
  {
    title: "¿Cuándo y dónde se celebra el FLISoL?",
    desc: "El FLISoL se celebra en diferentes lugares de América Latina durante el último sábado de abril de cada año.",
  },
  {
    title: "¿Qué tipo de actividades se realizan durante el FLISoL?",
    desc: "Durante el FLISoL se llevan a cabo actividades como charlas, talleres, instalación de software libre, y debates sobre temas relacionados con la libertad informática.",
  },
  {
    title: "¿Necesito registrarme para participar en el FLISoL?",
    desc: "Por lo general, no es necesario registrarse previamente para participar en el FLISoL, ya que es un evento de acceso libre y gratuito.",
  },
  {
    title: "¿Quién puede asistir al FLISoL?",
    desc: "El FLISoL está abierto a cualquier persona interesada en aprender sobre el software libre y participar en las actividades organizadas.",
  },
  {
    title: "¿Cuál es la duración del FLISoL?",
    desc: "La duración del FLISoL puede variar según el lugar y la agenda del evento, pero generalmente se extiende durante todo el día.",
  },
];
---

<div class="relative isolate overflow-hidden">
  <div
    class="absolute left-[calc(50%-4rem)] top-10 -z-10 transform-gpu blur-3xl sm:left-[calc(50%-18rem)] lg:left-48 lg:top-[calc(50%-30rem)] xl:left-[calc(50%-24rem)]"
    aria-hidden="true"
  >
    <div
      class="aspect-[1108/632] w-[69.25rem] bg-gradient-to-r from-[#80caff] to-[#4f46e5] opacity-20"
      style="clip-path: polygon(73.6% 51.7%, 91.7% 11.8%, 100% 46.4%, 97.4% 82.2%, 92.5% 84.9%, 75.7% 64%, 55.3% 47.5%, 46.5% 49.4%, 45% 62.9%, 50.3% 87.2%, 21.3% 64.1%, 0.1% 100%, 5.4% 51.1%, 21.4% 63.9%, 58.9% 0.2%, 73.6% 51.7%)"
    >
    </div>
  </div>

  <div
    id="faq"
    class="mx-auto pt-16 max-w-7xl divide-y divide-gray-900/10 px-6 sm:mb-32 lg:px-8"
  >
    <h2
      class="text-3xl font-bold leading-10 tracking-tight text-white yerro-animate-left"
    >
      Preguntas frecuentes
    </h2>
    <dl class="mt-10 space-y-8 divide-y divide-white/20">
      {
        faqs.map((faq) => (
          <div class="pt-8 lg:grid lg:grid-cols-12 lg:gap-8 max-w-2xl md:max-w-none yerro-animate-bottom">
            <dt class="text-base font-semibold leading-7 text-gray-100 lg:col-span-5">
              {faq.title}
            </dt>
            <dd class="mt-4 lg:col-span-7 lg:mt-0">
              <p class="text-base leading-7 text-gray-300">{faq.desc}</p>
            </dd>
          </div>
        ))
      }
    </dl>
  </div>
</div>
