<header>
  <div class="absolute top-0 w-full flex justify-center">
    <nav
      class="absolute z-40 mx-auto w-full flex max-w-7xl items-center justify-between p-6 lg:px-8 yerro-animate-top"
      aria-label="Global"
    >
      <a href="#" class="-m-1.5 p-1.5">
        <span class="sr-only">Flisol</span>
        <img
          class="h-16 w-auto yerro-animate-fade-in"
          src="/flisol-logo.png"
          alt=""
        />
      </a>
      <div class="hidden lg:flex lg:gap-x-12 text-white items-center">
        <a href="#about" class="text-sm font-semibold leading-6">Acerca de</a>
        <a href="#program" class="text-sm font-semibold leading-6">Programa</a>
        <a href="#live" class="text-sm font-semibold leading-6">Streaming</a>
        <a href="#faq" class="text-sm font-semibold leading-6">FAQS</a>
      </div>
      <a
        href="https://t.me/Flisol2024"
        target="_blank"
        class="rounded-md bg-west-side-500 px-5 py-2 mr-5 lg:mr-0 text-sm font-semibold text-white shadow-sm hover:bg-west-side-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-west-side-600"
        >Ir al Evento

        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="inline -mt-1"
          width="15"
          height="15"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-arrow-up-right"
          ><path d="M7 7h10v10"></path><path d="M7 17 17 7"></path></svg
        >
      </a>
    </nav>
  </div>
</header>
