---
const program = [
  {
    "time": "9:00 am - 9:15 am",
    "title": "C贸mo montarse un immich.app para darle una patada a Google Photos",
    "speaker": "Dave Cuza",
    "description": "Ciudadano del mundo. Representando a la comunidad 'la taberna de la jipansia'. Nos va a explicar c贸mo montarse un immich.app para reemplazar Google Photos."
  },
  {
    "time": "9:15 am - 9:30 am",
    "title": "Tu Escudo Digital: Ciberseguridad Pr谩ctica con Software Libre",
    "speaker": "Edisbel Ramirez Lovatos",
    "description": "Compatriota del territorio nacional. Representando a la Comunidad Linux de Cuba y a ETECSA. Nos va a decir c贸mo apretarte los pantalones pa que no te metan cosas raras."
  },
  {
    "time": "9:30 am - 9:45 am",
    "title": "Montando tu propia infraestructura de contrase帽as con Bitwarden",
    "speaker": "Dave Cuza",
    "description": "Ciudadano del mundo. Representando a la comunidad 'la taberna de la jipansia'. Nos va a explicar c贸mo tener tu propio gestor de contrase帽as con juegos de azar y mujerzuelas usando Bitwarden."
  },
  {
    "time": "9:45 am - 10:00 am",
    "title": "Uso de jsPDF, biblioteca open-source para la generaci贸n de PDF con js",
    "speaker": "Dariel Delgado",
    "description": "Compatriota del territorio nacional. Representando a todas las Vietnamitas residentes en Cuba. Nos va a hablar de c贸mo conjurar PDFs en la lengua negra de Mordor (javescr铆)."
  },
  {
    "time": "10:00 am - 10:15 am",
    "title": "Haciendo Software Libre con Vibe Coding  Lo bueno, lo malo y lo desastroso",
    "speaker": "Manuel Ernesto",
    "description": "Compatriota del territorio nacional. Representando a Decubba. Alguien ten铆a que hablar de vibe coding."
  },
  {
    "time": "10:15 am - 10:30 am",
    "title": "manolo_bot: c贸mo hacer tu propio bot de Telegram propulsado por IA, usando software libre",
    "speaker": "Carlos Caballero",
    "description": "Compatriota de ultramar. Representando a daxlab. Nos va a decir c贸mo hacer un bot con nombre gallego."
  },
  {
    "time": "10:30 am - 10:45 am",
    "title": "Licencias de Software Libre: Entendiendo la Libertad en el C贸digo",
    "speaker": "Arael Espinosa (Paco)",
    "description": "Compatriota de ultramar. Representando a los cubanos que viven en Uruguay. Nos va a hablar estilo leguleyo."
  },
  {
    "time": "10:45 am - 11:00 am",
    "title": "Showly Desktop, la alternativa a proyectores en entornos de pocos recursos",
    "speaker": "Rolando Rio",
    "description": "Compatriota de ultramar. Representando a los astronautas de la NASA. Nos ense帽a su invento."
  },
  {
    "time": "11:00 am - 11:15 am",
    "title": "IA de C贸digo Abierto y Modelos Compartibles",
    "speaker": "Rosniel Allesta Fundora",
    "description": "Compatriota del territorio nacional. Representando a la poblaci贸n que se queda sin pelo en 2 semanas. Nos muestra c贸mo la IA generativa y el software libre est谩n remodelando el desarrollo de modelos."
  },
  {
    "time": "11:15 am - 11:30 am",
    "title": "C贸mo instalar Linux puede desarrollar tu carrera como developer",
    "speaker": "Leonardo Arencibia",
    "description": "Compatriota de ultramar. Representando la provincia m谩s occidental de Cuba. Nos dice c贸mo hacer tu entorno de desarrollo grande otra vez."
  }
];
---

<div class="relative isolate">
  <svg
    class="absolute inset-0 -z-10 h-[80rem] w-full stroke-white/10 [mask-image:radial-gradient(100%_100%_at_top_right,white,transparent)]"
    aria-hidden="true"
  >
    <defs>
      <pattern
        id="1d4240dd-898f-445f-932d-e2872fd12de3"
        width="200"
        height="200"
        x="50%"
        y="0"
        patternUnits="userSpaceOnUse"
      >
        <path d="M.5 200V.5H200" fill="none"></path>
      </pattern>
    </defs>
    <svg x="0" y="0" class="overflow-visible fill-gray-800/20">
      <path d="M-200 0h201v201h-201Z M600 0h201v201h-201Z M-400 600h201v201h-201Z M200 800h201v201h-201Z" stroke-width="0"
      ></path>
    </svg>
    <rect width="100%" height="100%" stroke-width="0" fill="url(#1d4240dd-898f-445f-932d-e2872fd12de3)"></rect>
  </svg>

  <div class="mx-auto pt-16 max-w-7xl px-6 lg:px-8" id="program">
    <div class="max-w-5xl yerro-animate-left">
      <p class="mt-2 text-3xl font-bold tracking-tight text-white sm:text-4xl">Programa</p>
      <!-- <p class="mt-6 text-lg leading-8 text-gray-300">
        No te pierdas ninguna de las charlas que tenemos para t铆
      </p> -->
      <p class="mt-6 text-lg leading-8 text-gray-300">
        Aqui iremos actualizando el programa del evento. Mantente al tanto en nuestro canal de telegram.
      </p>
      <p class="text-lg leading-8 text-gray-300">...</p>
    </div>
    <div class="mt-16 max-w-2xl sm:mt-20 lg:mt-24 md:max-w-none">
      <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-16 md:max-w-none lg:grid-cols-2 xl:grid-cols-3">
        {
          program.map((presentation) => (
            <div class="flex flex-col yerro-animate-bottom">
              <dt class="text-base items-center mb-4 flex  text-white">
                <div class=" flex items-center h-10 w-10  justify-center rounded-lg bg-west-side-500">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-circle-check-big"
                  >
                    <>
                      <path d="M22 11.08V12a10 10 0 1 1-5.93-9.14" />
                      <path d="m9 11 3 3L22 4" />
                    </>
                  </svg>
                </div>
                <span class="ml-4">{presentation.time}</span>
              </dt>
              <dd class="mt-1 flex  flex-col  leading-7 ">
                <p class="flex-auto text-white text-2xl font-bold">{presentation.title}</p>
                <p class="flex-auto text-base pt-2 text-white">Por {presentation.speaker}</p>
                <p class="flex-auto text-base text-gray-300 pt-3 text-justify">{presentation.description}</p>
              </dd>
            </div>
          ))
        }
      </dl>
    </div>
  </div>
</div>
