---
const program = [
  {
    "time": "9:00 am - 9:15 am",
    "title": "Cómo instalar k8s con pocos recursos",
    "speaker": "Dave Cuza",
    "description": "Compatriota de ultramar. Representando a la comunidad 'la taberna de la jipansia'. Nos va explicar como se mete la habana en ganabacoa."
  },
  {
    "time": "9:15 am - 9:30 am",
    "title": "Inteligencia Artificial y Software Libre: La Convergencia de la IA y el Software Libre",
    "speaker": "Edisbel Ramirez Lovatos",
    "description": "Compatriota del territorio nacional. Representando a la comunidad de Linux de Cuba y a la empresa etecsa. Nos trae lo último de la moda. Las IAs."
  },
  {
    "time": "9:30 am - 9:45 am",
    "title": "Cómo usar Rust + Embassy para programar un nrf52832",
    "speaker": "Luís Felipe",
    "description": "Compatriota de ultramar. Representando a los desarrolladores de Rust. Nos va a explicar... Cosa gorda! Desarrollo a bajo nivel."
  },
  {
    "time": "9:45 am - 10:00 am",
    "title": "Creación de documentos con jsPDF",
    "speaker": "Dariel Delgado",
    "description": "Compatriota del territorio nacional. Representando a la comunidad 'la taberna de la jipansia' y culto de Javascript. Nos mostrará cómo hacer PDFs usando el lenguaje con el que se programó el infierno."
  },
  {
    "time": "10:00 am - 10:15 am",
    "title": "Estado actual de los motores de juegos libres",
    "speaker": "Roger Durañona",
    "description": "Compatriota del territorio nacional. Representando a la comunidad de Linux de Cuba. Nos hablará sobre la situación de los motores de juego de código abierto."
  },
  {
    "time": "10:15 am - 10:30 am",
    "title": "Por qué Nix es genial haciendo imágenes OCI",
    "speaker": "Luís Felipe",
    "description": "Compatriota de ultramar. Rindiendo más que un Toky en una sisterna nos trae algo sobre NixOS. Representando al culto de NixOS."
  },
  {
    "time": "10:30 am - 10:45 am",
    "title": "Oldies but goldies",
    "speaker": "Alberto José García Fumero",
    "description": "Compatriota del territorio nacional. Representando a la empresa Partagas y al adulto mayor. Nos va a explicar el enorme desafío que significa mantenerse dentro de la industria tecnológica cuando se tiene más de 60 años."
  },
  {
    "time": "10:45 am - 11:00 am",
    "title": "Introducción al Software libre",
    "speaker": "Manuel Ernesto",
    "description": "Compatriota del territorio nacional. El tipo que hizo el güebsait (website para que los que no sepan inglés). Nos trae algo básico para el público iniciado."
  },
  {
    "time": "11:00 am - 11:15 am",
    "title": "Software libre: ¿Qué es lo verdaderamente importante?",
    "speaker": "SIMBIOSIS",
    "description": "Compatriota del territorio nacional. Preparó su charla cuando estaba ingresado en un hospital."
  },
  {
    "time": "11:15 am - 11:30 am",
    "title": "Resistencia creativa: 2GB de RAM dando soporte a 150 mil usuarios mensuales",
    "speaker": "Jeandy Bryan",
    "description": "Compatriota del territorio nacional. Representando a la compañía privada 'yerro menú'. Nos trae cómo hacer milagros de panes y peces."
  },
  {
    "time": "11:30 am - 11:45 am",
    "title": "Cómo contribuir a un proyecto Open Source",
    "speaker": "Manuel Ernesto",
    "description": "El mismo de arriba. Ahora nos explica como hacer contribuciones a proyectos Open Source y no morir en el intento."
  },
  {
    "time": "11:45 am - 12:00 pm",
    "title": "Instalación de Ubuntu, una para principiantes",
    "speaker": "Pavel Milanes",
    "description": "Compatriota del territorio nacional. Radioaficionado y armador de robots OTTO. Nos trae algo básico para el usuario principiante."
  },
  {
    "time": "12:00 pm - 12:15 pm",
    "title": "5 consejos para mejorar tu proyecto en GitHub",
    "speaker": "Reinier Hernández",
    "description": " Compatriota de ultramar. Maratonista y programador de Python. Organizador del Python pizza. Nos trae el abc de GitHub."
  },
  {
    "time": "12:15 pm - 12:30 pm",
    "title": "Software libre para crear nuevas herramientas",
    "speaker": "Carlos Caballero",
    "description": "Compatriota de ultramar. Representando al equipo de Daxlab. Nos trae un refrito de una charla de antaño."
  },
  {
    "time": "12:30 pm - 12:45 pm",
    "title": "Habanadigital para el futuro sostenible de nuestra Ciudad Maravilla",
    "speaker": "Joaquín Pina",
    "description": "Compatriota del territorio nacional.Representando a la unión de informáticos de Cuba y a la maqueta de La Habana. Nos va a hablar sobre la la soberanía y tecnológica."
  }
]
;
---

<div class="relative isolate">
  <svg
    class="absolute inset-0 -z-10 h-[80rem] w-full stroke-white/10 [mask-image:radial-gradient(100%_100%_at_top_right,white,transparent)]"
    aria-hidden="true"
  >
    <defs>
      <pattern
        id="1d4240dd-898f-445f-932d-e2872fd12de3"
        width="200"
        height="200"
        x="50%"
        y="0"
        patternUnits="userSpaceOnUse"
      >
        <path d="M.5 200V.5H200" fill="none"></path>
      </pattern>
    </defs>
    <svg x="0" y="0" class="overflow-visible fill-gray-800/20">
      <path
        d="M-200 0h201v201h-201Z M600 0h201v201h-201Z M-400 600h201v201h-201Z M200 800h201v201h-201Z"
        stroke-width="0"></path>
    </svg>
    <rect
      width="100%"
      height="100%"
      stroke-width="0"
      fill="url(#1d4240dd-898f-445f-932d-e2872fd12de3)"></rect>
  </svg>

  <div class="mx-auto pt-16 max-w-7xl px-6 lg:px-8" id="program">
    <div class="max-w-5xl yerro-animate-left">
      <p class="mt-2 text-3xl font-bold tracking-tight text-white sm:text-4xl">
        Programa
      </p>
      <p class="mt-6 text-lg leading-8 text-gray-300">
        No te pierdas ninguna de las charlas que tenemos para tí
      </p>
    </div>
    <div class="mt-16 max-w-2xl sm:mt-20 lg:mt-24 md:max-w-none">
      <dl
        class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-16 md:max-w-none lg:grid-cols-2 xl:grid-cols-3"
      >
        {
          program.map((presentation) => (
            <div class="flex flex-col yerro-animate-bottom">
              <dt class="text-base items-center mb-4 flex  text-white">
                <div class=" flex items-center h-10 w-10  justify-center rounded-lg bg-west-side-500">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-circle-check-big"
                  >
                    <>
                      <path d="M22 11.08V12a10 10 0 1 1-5.93-9.14" />
                      <path d="m9 11 3 3L22 4" />
                    </>
                  </svg>
                </div>
                <span class="ml-4">{presentation.time}</span>
              </dt>
              <dd class="mt-1 flex  flex-col  leading-7 ">
                <p class="flex-auto text-white text-2xl font-bold">
                  {presentation.title}
                </p>
                <p class="flex-auto text-base pt-2 text-white">
                  Por {presentation.speaker}
                </p>
                <p class="flex-auto text-base text-gray-300 pt-3 text-justify">
                  {presentation.description}
                </p>
              </dd>
            </div>
          ))
        }
      </dl>
    </div>
  </div>
</div>
